@import '../../shared/styles/colors/colors.scss';
@import '../../shared/styles/font-size/font-size.scss';

.gm-button {
	@include font(20);

	background-color: white;
	border: 1px solid $PRIMARY_COLOR;
	color: $PRIMARY_COLOR;
	padding: 5px 8px;

	transition: .3s color, .3s background-color;

	&:hover {
		color: white;
		background-color: $PRIMARY_COLOR;
	}

	&-tile {
		border: none;
		background: none;
		&:hover {
			color: $PRIMARY_COLOR;
			background: rgb(218, 216, 216);
		}
	}
}