@import '../../shared/styles/colors/colors.scss';
@import '../../shared/styles/font-size/font-size.scss';

.gm-button {
	@include font(20px);

	background-color: white;
	border: 1px solid $PRIMARY_COLOR;
	color: $PRIMARY_COLOR;
	font-size: 18px;
	line-height: 1em;
	padding: 5px 8px;

	transition: .3s color, .3s background-color;

	&:hover {
		cursor: pointer;
		color: white;
		background-color: $PRIMARY_COLOR;
	}

	&-tile {
		border: none;
		background: none;
		&:hover {
			color: $PRIMARY_COLOR;
			background: rgb(240, 240, 240);
		}

		&::focus {
			outline-style: dotted;
		}
	}
}